<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-danger">Game mới
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    </div>
    <div class="card-body ">
        <div class="row">
            {{#each newproducts}}
            <div class="col-4">
                <div class="card bg-dark">
                    <div class="card-body" style="height: 300px">
                        <h4><strong>{{name}}</strong></h4>
                        <a href="/product/{{id}}"><img src="{{img}}" style="width: 100%; height: 60%;" alt=""></a>
                        <h6>{{condition}}</h6>
                        <div class="row">                            
                            {{#if isDiscounted}}
                            <div class="col-6"><h4>{{promotionprice}} VND</h4></div>
                            <div class="col-6"><h4 style="color: orangered"><del>{{price}} VND</del></h4></div>
                            {{else}}
                            <div class="col-6"><h4>{{price}} VND</h4></div>
                            {{/if}}
                        </div>
                        
                    </div>
                    <div class="card-footer" style="padding-top: 5px;">
                        <div style="margin: 0; width: 100%;">
                            <form method="POST" action="/cart/{{id}}">
                                <button type="submit" class="btn btn-success" style="width: 45%; float: left;">Mua</button>
                            </form>                          
                            <a class="btn btn-danger" href="/product/{{id}}" style="width: 45%; float: right">Chi tiết</a>
                        </div>                    
                    </div>
                </div>
            </div>
            {{/each}} 
        </div>


    </div>
</div>