<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-success">
        <h3><b>Giỏ hàng (ID: {{cart.id}})</b></h3>
    </div>
    <div class="card-body ">
        <div class="row">
            <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Số lượng</th>
                        <th>Giảm giá (%)</th>
                        <th>Giá</th>
                        <th style="width: 50px"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cart}}
                    <tr>
                        <td>#</td>
                        <td>{{name}}</td>
                        <td>{{numberofproduct}}</td>
                        <td>{{discount}}</td>
                        <td>{{price}}</td>
                        <td><a href="/cart/remove/{{id}}"><i class="fa fa-trash" style="color: red"></i></a></td>
                    </tr>
                    {{/each}}
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Tổng tiền:</th>
                        <th id="sumbill">{{sumbill}}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Khuyến mãi:</th>
                        <th id="sumbill">{{discountbill}}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Thanh toán:</th>
                        <th id="totalbill">{{totalbill}}</th>
                        <th></th>
                    </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
        <div class="row text-right">
            <div class="col">
                <a href="{{currentPage}}" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Trở về</a>
                <button class="btn btn-success"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Thanh
                    toán</button>
            </div>

        </div>
    </div>
</div>