<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-success">
        <h3><b>Giỏ hàng (ID: {{cart.id}})</b></h3>
    </div>
    <div class="card-body ">
        <div class="row">
            <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Giảm giá</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                {{#each products}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{discount}}</td>
                        <td>{{price}}</td>
                    </tr>
                {{/each}}
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Tổng tiền:</th>
                        <th>{{cart.discountedtotal}}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Khuyến mãi:</th>
                        <th>{{cart.discount}}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Thanh toán:</th>
                        <th>{{cart.total}}</th>
                    </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
        <div class="row text-right">
            <div class="col">
                <button class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Trở về</button>
                <button class="btn btn-success"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>  Thanh toán</button>
            </div>

        </div>
    </div>
</div>